{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Ресторан</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.payment_method }}</td>
        <td>{{ item.price }} руб</td>
        <td>{{ item.fullname }}</td>
        <td>{{ item.phonenumber }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.comment }}</td>
        <td>
          {% if item.restaurant %}
            {{ item.restaurant.name }}
          {% else %}
            {% if item.suitable_restaurants %}
              <details>
                <summary>Могут приготовить ({{ item.suitable_restaurants|length }})</summary>
                <ul>
                  {% for restaurant_data in item.suitable_restaurants %}
                    <li>
                      {{ restaurant_data.restaurant.name }} - 
                      {% if restaurant_data.distance %}
                        {{ restaurant_data.distance }} км
                      {% else %}
                        расстояние неизвестно
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </details>
            {% else %}
              <span style="color: red;">Нет подходящих ресторанов</span>
            {% endif %}
          {% endif %}
        </td>
        <td>
          <a href="{% url 'admin:foodcartapp_order_change' object_id=item.id %}?next={{ request.path|urlencode }}">Редактировать</a>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %}